<a class="ticket-list-btn" (click)="goToTicketsList()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Tickets List
</a>
<div [ngClass]="ticket.ticketBoxes.length != 0 ? 'content' : 'content-empty'">
    <div *ngIf="ticket.id == 0" class="menu-area">
        <form [formGroup]="ticketForm" (ngSubmit)="generateNewTicket()" class="form-content">
            <div class="grid-area">
                <label class="required-label" for="ticketBoxesCount">Number of Ticket Boxes:</label>
                <div class="required-input-area">
                    <input type="number" id="ticketBoxesCount" formControlName="ticketBoxesCount" style="width:70%;">
                    <ng-container *ngIf="ticketForm.controls['ticketBoxesCount'].invalid && ticketForm.controls['ticketBoxesCount'].touched" style="margin-bottom:5px;">
                        <small class="p-error">Please enter a number of ticket boxes.</small>
                    </ng-container>
                    <ng-container *ngIf="ticketForm.controls['ticketBoxesCount'].value <= 0 && !ticketForm.controls['ticketBoxesCount'].invalid">
                        <small class="p-error">Number of boxes cannot be 0 or less.</small>
                    </ng-container>
                </div>
            </div>
            <div class="grid-area">
                <label for="withSuperzahl">Include Superzahl:</label>
                <input type="checkbox" id="withSuperzahl" formControlName="withSuperzahl">
            </div>
            
            <button type="submit" class="generate-btn" [disabled]="ticketForm.invalid || ticketForm.controls['ticketBoxesCount'].value <= 0">Draw tickets</button>
        </form>
        <div>
            <p>Drawn numbers per box:</p>
            <ol class="ticket-boxes-list">
                <li *ngFor="let ticketBoxDrawnNumbers of displayedDrawnNumbers">
                    {{ticketBoxDrawnNumbers}}
                </li>
            </ol>
            <p *ngIf="ticket.superZahl != null" class="superzahl-content">
                SuperZahl: <b>{{ticket.superZahl}}</b>
            </p>
        </div>
    </div>
    <div *ngIf="ticket.id != 0 " class="menu-area">
        <h4 style="margin-bottom:0px;">
            Lotto ticket #{{ticket.id}}
        </h4>
        <p>
            Contains <b>{{ticket.ticketBoxes.length}}</b> boxes.
        </p>
        <ol class="ticket-boxes-list">
            <li *ngFor="let ticketBox of ticket.ticketBoxes">
                {{ticketBox.drawnNumbers}}
            </li>
        </ol>
        <p *ngIf="ticket.superZahl != null" class="superzahl-content">
            SuperZahl: <b>{{ticket.superZahl}}</b>
        </p>
    </div>
    <div *ngIf="ticket.ticketBoxes.length != 0" class="ticket-boxes-columns-content">
        <div class="ticket-boxes-row-content" >
            <div *ngFor="let ticketBox of ticket.ticketBoxes" class="ticket-box-content">
                <app-ticket-box [ticket]="ticket" [ticketBox]="ticketBox" [performNewTicketAction]="performNewTicketAction" (onTicketBoxGenerate)="onNewTicketBoxGenerate($event)"></app-ticket-box>
            </div>
        </div>
    </div>
</div>

