.ticket-list-btn{
    cursor:pointer;
    padding: 10px;
}
.ticket-list-btn:hover{
    opacity: 0.6;
}
.content{
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(243, 129, 129);

    .menu-area{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin:10px;
        .ticket-boxes-list{
            padding-left:20px;
            margin-top:0px;
        }
        .superzahl-content{
            border:1px dashed black;
            width:80%;
            padding:5px;
            margin-top:0px;
        }
    }
    .form-content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
        .grid-area{
            margin-bottom: 30px;
            position: relative;
            .required-input-area{
                display:block;
            }
            small.p-error {
                position: absolute;
                top: 100%;
                left:0;
                color:red;
            }
        }
    }
    .ticket-boxes-columns-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .ticket-boxes-row-content{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-left:30px;
        }
        .ticket-box-content{
            margin:5px;
        }
    }
}
.content-empty{
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(92, 112, 102, 1);
    -moz-box-shadow: 0px 0px 30px rgba(92, 112, 102, 1);
    box-shadow: 0px 0px 30px 0px rgba(92, 112, 102, 1);
    border-radius: 10px;
    border: 0px solid;
    height: 300px;
    margin:100px 35%;
    background-color: rgb(255, 255, 255);
    .menu-area{
        .form-content{
            width:150%;
            margin:0px !important;
            .grid-area{
                position: relative;
                margin-bottom: 30px;

                .required-input-area{
                    display:block;
                }
                small.p-error {
                    position: absolute;
                    top: 100%;
                    left:0;
                    color:red;
                }
            }
        }
    }
}
